html {
    min-height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

article img {
    float: left;
    max-width: 100%;
    -webkit-transition: width 2s, height 2s, -webkit-transform 1.5s;
    /* Safari */
    transition: width 2s, height 2s, transform 1.5s;
}

article img:hover {
    -webkit-transform: rotate(360deg);
    /* Safari */
    transform: rotate(360deg);
}

.iconright {
    float: right;
    max-width: 100%;
}

.navicon {
    width: 30px;
    height: 5px;
    margin: 6px 0px;
}

.navicon2 {
    width: 30px;
    height: 6px;
    background-color: #059;
    margin: 6px 0;
}

.navicon1 {
    width: 30px;
    height: 6px;
    background-color: purple;
    margin: 6px 0;
}

.navicon3 {
    width: 30px;
    height: 6px;
    background-color: firebrick;
    margin: 6px 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: url(Zoetropic.gif);
    background-size: 100% 100%;
    overflow-x: hidden;
    transition: .8s;
    padding-top: 150px;
    font-family: 'federant', cursive;
}

.sidenav a {
    text-align: center;
    padding: 45px 27px;
    font-size: 30px;
    color: #fff;
    display: block;
    transition: 1s;
    max-width: 100%;
    text-shadow: -2px -1px 0 #00f, 2px -1px 0 #00f, -2px 1px 0 #00f, 2px 1px 0 #00f;
}

.sidenav a:hover {
    color: red;
    text-shadow: 1px 1px 0 powderblue, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.sidenav .closebtn {
    padding: 16px 18px 28px 22px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
}

#subscription {
    background-image: url(Newsprint.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 80%;
    height: 200px;
    padding-top: 80px;
    max-width: 820px;
    margin: auto;
    border-bottom: 5px double red;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-weight: bolder;
        font-size: 30px;
    }
}

nav ul li {
    font-family: 'Orbitron', serif;
    font-size: 20px;
    font-weight: bolder;
    border: 5px double transparent;
    display: inline;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
}

nav {
    text-align: center;
    margin: auto;
    padding: 1px 0;
    max-width: 88%;
}

@media (max-width: 1000px) {
    nav ul li {
        margin: 8px;
    }
}

#intro img {
    margin: 0px auto;
}

.servicelist {
    width: 65%;
    text-align: center;
    font-family: 'Orbitron', serif;
    color: white;
    font-size: 25px;
    margin: auto;
    padding: 50px 0px;
    border-spacing: 110px 40px;
    max-width: 100%;
}

.servicelist th {
    padding: 8px;
    border-top: 5px double red;
    border-bottom: 5px double red;
    font-size: 35px;
    margin: auto;
    max-width: 100%;
    color: white;
    text-shadow: 2px 1px 0 red, -2px -1px 0 red, 2px -1px 0 red, -2px 1px 0 red, 2px 1px 0 red;
}

@media (min-width: 851px) {
    .navicon,
    .navicon1,
    .navicon2,
    .navicon3,
    #gallery,
    .slogan,
    #services,
    .intromobile,
    label {
        display: none;
    }
    
    #intro img {
        width: 300px
    }
    
    .intro {
        width: 800px;
        margin: 100px auto 0px;
        border: 5px;
        border-color: red;
        border-bottom-style: double;
        border-top-style: double;
        padding: 10px;
    }
    
    #myBtn {
        margin-right: 30px;
    }
    
    footer {
        margin: 0px 100px;
    }
    
    header img {
        max-width: 100%;
        margin: 20px;
        margin: auto;
        border: 2px double white;
        border-radius: 12px;
    }
    
    h1 {
        margin: auto;
        padding: 5px;
        font-size: 65px;
        border-bottom: 5px double red;
        border-top: 5px double red;
        width: 302px;
        font-size: 60px;
        text-align: center;
        color: #b30000;
        font-family: 'federant', serif;
        letter-spacing: 2px;
        text-shadow: 2px 3px 3px dodgerblue;
        text-shadow: 1px 1px 0 dodgerblue, -1px -1px 0 dodgerblue, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }
    h2 {
        line-height: 1.6;
        font-size: 35px;
        font-family: 'federant', serif;
        font-style: italic;
        margin: auto;
        padding: 0px;
        color: white;
        text-shadow: 1px 1px 0 red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
    }
    .Name {
        margin: auto;
        font-size: 65px;
        width: 500px;
        text-align: center;
        color: #b00;
        font-family: 'Kaushan Script', serif;
        letter-spacing: 2px;
        text-shadow: .5px .5px 0 #fff;
    }
    
    #Btn:hover {
        margin: 30px auto;
        font-weight: bolder;
        color: #fff;
        padding: 5px 20px;
        background: #000;
        font-family: 'Orbitron';
        font-size: 22px;
        border: 7px double #900;
        box-shadow: 1px 1px 15px #f00, -1px 1px 15px #f00;
        border-radius: 35px;
        text-shadow: 1px 2px 0px #f00, -1px -2px 0px #f00, 1px -2px 0px #f00, -1px 2px 0px #f00;
        cursor: pointer;
    }
    
    #Btn {
        margin: 30px auto;
        color: white;
        padding: 5px 20px;
        background: #04d;
        font-family: 'Orbitron';
        font-size: 22px;
        border: 7px double #000;
        border-radius: 35px;
        font-weight: bolder;
        text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
        -webkit-transition: background-color .8s ease-out;
        -moz-transition: background-color .8s ease-out;
        -o-transition: background-color .8s ease-out;
        transition: background-color .8s ease-out;
    }
    
    .modalDialog>div {
        width: 55%;
        position: relative;
        margin: 100px auto;
        padding: 0px 55px;
        border-radius: 20px;
        background: -moz-radial-gradient(black, #006);
        background: -webkit-radial-gradient( black, #002, #006);
        border: red solid 1px;
        max-width: 100%;
    }
    
    #modalImg {
        opacity: 1;
    }
    
    #gallery img {
        max-width: 100%;
        margin: 100px 0px 15px;
    }
}

@media (max-width: 850px) {
    nav,
    .intro,
    #intro,
    .iconright,
    #scrolldown,
    label,
    table {
        display: none;
    }
    
    .intromobile {
        max-width: 95%;
        margin: 100px auto 0px;
        border: 5px;
        border-color: red;
        border-bottom-style: double;
        border-top-style: double;
        padding: 10px;
    }
    
    #services {
        border-top: 3px double red;
        padding: 20px 0px;
    }
    
    .newsletter {
        text-align: center;
        padding-bottom: 100px;
    }
    
    article img {
        max-width: 18%;
    }
    
    .slogan {
        margin-top: 50px;
        font-size: 28px
    }
    
    h1 {
        margin-top: 75px;
        font-size: 50px;
        text-align: center;
        color: #b30000;
        font-family: 'Federant', serif;
        letter-spacing: 3px;
        text-shadow: 2px 3px 3px dodgerblue;
        text-shadow: 1px 1px 0 dodgerblue, -1px -1px 0 dodgerblue, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }
    
    h2 {
        line-height: 1.6;
        font-size: 25px;
        padding-top: 10px;
        font-family: 'federant', serif;
        font-style: italic;
        margin: auto;
        color: white;
        text-shadow: 1px 1px 0 red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
    }
    
    .Name {
        margin: 100px auto 0px;
        font-size: 55px;
        width: 300px;
        text-align: center;
        color: #b00;
        font-family: 'Kaushan Script', serif;
        letter-spacing: 2px;
        text-shadow: .5px .5px 0 #fff;
    }
    
    header h4 {
        font-size: 28px;
        font-family: 'federant';
        color: #159;
    }
    
    #Btn {
        margin: 30px auto;
        color: white;
        padding: 5px 20px;
        background: #04d;
        font-family: 'Orbitron';
        font-size: 20px;
        border: 7px double #000;
        border-radius: 35px;
        text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;
    }
    
    .modalDialog>div {
        width: 400px;
        position: relative;
        margin: 20px auto;
        padding: 0px 5px;
        border-radius: 20px;
        border: 1px solid red;
        background: -moz-radial-gradient(#003, #009);
        background: -webkit-radial-gradient( black, #002, #004);
        max-width: 90%;
    }
    
    #gallery img {
        max-width: 100%;
        margin: 50px 0px 15px;
    }
}

a:hover img {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: 2.0s;
}

#gallery2 a:hover img {
    /* Start the shake animation and make the animation last for 1 seconds */
    animation: shake 1.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: 2.0s;
    opacity: 1;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


/* unvisited link */

nav li a:link {
    border: 8px double transparent;
    padding: 10px 5px;
    margin: 15px;
    -webkit-transition: background-color, font-color .8s ease-out;
    -moz-transition: background-color, font-color .8s ease-out;
    -o-transition: background-color, font-color .8s ease-out;
    transition: font-color, background-color .8s ease-out;
    transition: 1s;
}


/* mouse over link */

nav li a:hover {
    color: white;
    text-shadow: 1px 1px 2px red, -1px -1px 2px red, 1px -1px 2px red, -1px 1px 2px red;
    transition: .5s;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 35px;
    color: red;
    font-family: 'federant', serif;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#scrolldown {
    margin: 50px auto 0px;
    font-size: 45px;
    text-align: center;
    color: #b00;
    font-family: 'Kaushan Script', serif;
    text-shadow: .5px .5px 0 #fff;;
}

h5 {
    color: darkred;
    font-size: 20px;
}

p {
    line-height: 1.6;
    font-size: 20px;
}

a {
    color: dodgerblue;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-shadow: 1px 1px 0 red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
    color: white;
}

footer,
section {
    text-align: center;
    font-family: 'Orbitron', serif;
    color: white;
    list-style-type: none;
    text-shadow: 1px 1px 0 red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

label {
    font-size: 25px;
    text-align: center;
    font-family: 'Orbitron', serif;
    color: white;
    list-style-type: none;
    text-shadow: 1px 1px 0 red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

p,
h3 {
    text-align: center;
    font-family: 'Orbitron', serif;
    color: white;
    list-style-type: none;
}

body {
    background-color: black;
    margin: 20px;
}

header {
    text-align: center;
    max-width: 100%;
    padding: 70px 0 0;
}

textarea,
input {
    font-family: 'federant', serif;
    color: #000caf;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    max-width: 500px;
}

select {
    font-family: 'federant', serif;
    color: #0051ff;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    max-width: 50%;
    box-sizing: border-box;
    border-radius: 20px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0051ff;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #0051ff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #0051ff;
}


/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    margin: auto;
    text-align: center;
    background: #ddf9fd;
    width: 90%;
    /* Full width */
    padding: 8px;
    /* Some padding */
    border: 8px double #000;
    /* Gray border */
    border-radius: 25px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 10px;
    /* Add a top margin */
    margin-bottom: 30px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

select {
    padding: 4px 8px;
}


/* Style the submit button with a specific background color etc */

input[type=submit] {
    margin: auto;
    text-align: center;
    font-size: 22px;
    background: repeating-linear-gradient(to top, #009, #00e, dodgerblue 100%);
    color: white;
    padding: 8px 30px;
    border: 1px solid dodgerblue;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0px 5px 25px red;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}


/* When moving the mouse over the submit button, add a blue color */

input[type=submit]:hover {
    margin: auto;
    text-align: center;
    border: 1px solid lime;
    background: repeating-linear-gradient(to top, #030, #070, lightgreen 100%);
    border-radius: 25px;
    box-shadow: 0px 5px 25px lightgreen;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


/* Add a background color and some padding around the form */

.container {
    border-radius: 25px;
    width: 650px;
    max-width: 95%;
    margin: 50px auto;
}

.projects img {
    max-width: 100%;
    margin: 100px 0px 15px;
    opacity: .7;
}

#gallery,
#gallery2 {
    max-width: 100%;
    text-align: center;
    font-size: 25px;
    padding-bottom: 50px;
    margin: auto;
}

.gallery2 h2 {
    margin-top: 50px;
    font-size: 35px;
    padding: 10px;
    width: 350px;
    text-decoration: underline max-width: 100%;
    text-shadow: 1px 1px 0 red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

#form {
    padding: 75px 0px 40px;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 5px;
    /* Place the button 5px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    outline: none;
    /* Remove outline */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 50px;
    /* Rounded corners */
    border: 1px solid red;
    background: url("redarrow.png");
}

.projects {
    margin: auto;
}

.projects td {
    font-size: 25px;
    padding: 120px;
    text-align: center;
    color: white;
}

.newsletter {
    text-align: center;
}

#myBtn:hover {
    border-color: dodgerblue;
    background: url("bluearrow1.png");
}

form {
    margin: 30px auto;
    text-align: center;
}

footer {
    border-top: 5px double red;
    text-align: center;
    padding-top: 10px;
    font-family: 'quintessential', cursive;
    font-size: 20px;
    margin-top: 50px;
}

.modalDialog {
    margin: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999999999 !important;
    opacity: 0;
    -webkit-transition: opacity 600ms ease-in;
    -moz-transition: opacity 600ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.close {
    font-family: 'federant';
    background: -webkit-radial-gradient( orange, red, #200);
    max-width: 100%;
    border: .5px hidden black;
    color: white;
    line-height: 29px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 25px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.close:hover {
    background: black;
    max-width: 100%;
    border: .5px solid red;
    color: black;
    text-shadow: 1px 1px 0 red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

@media (max-width: 600px) {
    label,
    #scrolldown {
        display: none;
    }
    .container {
        margin-top: 0;
    }
    #contact {
        margin: auto;
        width: 200px;
        height: 150px;
        padding: 15px 0px 0px 0px;
    }
    #openModal99 {
        padding: 150px 0;
    }
    #openModal19,
    #openModal9,
    #openModal7,
    #openModal12,
    #openModal15,
    #openModal16 {
        padding-top: 100px;
    }
    #openModal2,
    #openModal4,
    #openModal5,
    #openModal6,
    #openModal14 {
        padding-top: 50px;
    }
    .Name {
        margin-top: 60px;
    }
    .intromobile {
        margin-top: 50px;
    }
    #subscription {
        background-size: 100% 80%;
    }
    #Btn {
        font-size: 22px;
        font-family: 'federant';
    }
    .modalDialog>div {
        width: 80%;
        position: relative;
        margin: 20px auto;
        padding: 0px 15px;
        border-radius: 20px;
        background: -moz-radial-gradient(black, #006);
        background: -webkit-radial-gradient( black, #002, #006);
        border: red solid 1px;
        max-width: 100%;
    }
}