html{
    min-height:100%;
    overflow:auto;
}

article img{
    float: left;
    max-width: 100%;
    -webkit-transition: width 2s, height 2s, 
    -webkit-transform 1.5s; /* Safari */
    transition: width 2s, height 2s, transform 1.5s;
}

article img:hover{
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}

.iconright{
    float:right;
    max-width: 100%;
}

.navicon {
    width: 30px;
    height: 6px;
    background-color: red;
    margin: 6px 0px;
}

.navicon2 {
    width: 30px;
    height: 6px;
    background-color: #059;
    margin: 6px 0;
}

.navicon1 {
    width: 30px;
    height: 6px;
    background-color: purple;
    margin: 6px 0;
}

.navicon3 {
    width: 30px;
    height: 6px;
    background-color: firebrick;
    margin: 6px 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: darkred;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 100px;
    font-family: 'federant', cursive;
}

.sidenav a {
    padding: 20px;
    font-size: 28px;
    color: #007acc;
    display: block;
    transition: 0.3s;
    max-width: 100%;
    text-shadow:
       1px 1px 0 white,
      -1px -1px 0 black,  
       1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
}

.sidenav a:hover {
    color: red;
    text-shadow:
       1px 1px 0 white,
      -1px -1px 0 black,  
       1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
}

.sidenav .closebtn {
    padding: 10px 22px 28px 22px;
    position:absolute;
    top: 0px;
    right: 0px;
    font-size: 65px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-weight: bolder; font-size: 30px;}
}

nav ul li {
    font-family:'federant', serif;
    font-size: 22px;
    font-weight:bolder;
    border:  5px double black;
    display:inline;
    border-radius: 20px;
    text-align: center;
    margin: 20px;   
}

nav {
    text-align:center;
    margin:auto;
    padding: 5px 0px;
}

@media (max-width: 1000px){
    
    nav ul li{
        margin:8px;
    }
}

#intro {
    margin:auto;
    max-width: 50%;
    
}

.servgif{
    margin-bottom: 20px;
}

.servicelist {
    width:65%;
    text-align: center;
    font-family:'federant', serif;
    color:white;
    font-size: 25px;
    margin:auto;
    padding: 50px 0px;
    border-spacing: 110px 40px;
    max-width: 100%;
}

.servicelist th{
    padding: 5px;
    border-top: 5px double red;
    border-bottom: 5px double red;
    font-size: 35px;
    margin: auto;
    max-width: 100%;
    color: white;
    text-shadow:
       2px 1px 0 red,
      -2px -1px 0 red,  
       2px -1px 0 red,
      -2px 1px 0 red,
       2px 1px 0 red;
}

@media (min-width: 851px) {
  .navicon, .navicon1, .navicon2, .navicon3,#gallery, .resumemobile, .slogan, #services, .intromobile, .resume{
    display:none;      
  }
    .intro{
        width: 800px;
        margin: 200px auto 50px;
        border: 5px;
        border-color: red;
        border-bottom-style: double;
        border-top-style: double;
        padding:10px;

    }
    
    #myBtn{
        margin-right: 30px;
    }
    
    footer{
        margin: 0px 100px;
    }
    
    header img{
    max-width: 100%;
    margin: 20px;
    margin:auto;
    border: 2px double white;
    border-radius: 12px;
    }

    
    #background {
    position:absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100ß%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(logo5.jpeg) no-repeat;
    background-size: cover;
    }
    
    h1 {
    margin:auto;
    padding: 10px;
    font-size: 65px;
    border-bottom: 5px double red;
    border-top: 5px double red;
    width:300px;    
    font-size: 60px;
    text-align: center;
    color: #b30000;
    font-family: 'federant', serif;
    letter-spacing: 2px;
    text-shadow: 2px 3px 3px dodgerblue;
    text-shadow:
       1px 1px 0 dodgerblue,
      -1px -1px 0 dodgerblue,  
       1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
    }

    h2{
    line-height: 1.6;
    font-size: 35px;
    font-family: 'federant', serif;
    font-style:italic;
    margin:auto;
    padding:0px;
    color: white;
    text-shadow:
       1px 1px 0 red,
      -1px -1px 0 red,  
       1px -1px 0 red,
      -1px 1px 0 red,
       1px 1px 0 red;
    } 
    
    .Name {
    margin:auto;
    font-size: 65px;
    width:300px;    
    font-size: 60px;
    text-align: center;
    color: #b30000;
    font-family: 'federant', serif;
    letter-spacing: 2px;
    text-shadow: 2px 3px 3px dodgerblue;
    text-shadow:
       1px 1px 0 dodgerblue,
      -1px -1px 0 dodgerblue,  
       1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
    
    }
}


@media (max-width: 850px) {
  nav, .resume, .intro, #intro, .resumemobile {
    display:none;
    }
    
    .intromobile{
        max-width: 95%;
        margin: 125px auto;
        border: 5px;
        border-color: red;
        border-bottom-style: double;
        border-top-style: double;
        padding:10px;
    }
    
     table{
        display: none;
    }
    
     #services{
        border-top: 3px double red;
        padding: 20px 0px;
    }
    
    .iconright{
        display:none;
    }
    
    header img{
        max-width: 100%;
        margin:auto;
        margin-top: 20px;
        border: 1px solid white;
        border-radius: 8px;   
    }
    
    article img{
        max-width: 18%;

    }
    
    .slogan{
        margin-top: 50px;
        font-size: 28px
    }
    
    iframe{
        width:auto;
    }
    
    h1 {
    margin-top: 100px;    
    font-size: 50px;
    text-align: center;
    color: #b30000;
    font-family: 'Federant', serif;
    letter-spacing: 3px;
    text-decoration: underline;
    text-shadow: 2px 3px 3px dodgerblue;
    text-shadow:
       1px 1px 0 dodgerblue,
      -1px -1px 0 dodgerblue,  
       1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
    
    }
    
    h2{
    line-height: 1.6;
    font-size: 25px;
    padding-top: 10px;
    font-family: 'federant', serif;
    font-style:italic;
    margin:auto;
    color: white;
    text-shadow:
       1px 1px 0 red,
      -1px -1px 0 red,  
       1px -1px 0 red,
      -1px 1px 0 red,
       1px 1px 0 red;
    }
    
    .Name {
    margin:100px auto 0px;
    font-size: 65px;
    width:300px;    
    font-size: 60px;
    text-align: center;
    color: #b30000;
    font-family: 'federant', serif;
    letter-spacing: 2px;
    text-decoration: underline;
    text-shadow: 2px 3px 3px dodgerblue;
    text-shadow:
       1px 1px 0 dodgerblue,
      -1px -1px 0 dodgerblue,  
       1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
    
    }
    
    .resumemobile a{
    margin:auto;
    max-width: 100%;
    text-align: center;
    color: white;
    font-family: 'federant', serif;
    font-size: 22px;
    border: 5px double red;
    border-radius: 30px;
    padding: 8px;
    display: block;
    width: 245px;
    font-weight:bolder;
    background-color: #039;
    text-shadow:
       1px 1px 0 red,
      -1px -1px 0 red,  
       1px -1px 0 red,
      -1px 1px 0 red,
       1px 1px 0 red;
    }
    
    .resumemobile a:hover{
        text-shadow: none;
        color: dodgerblue;
        background-color: black;
    }
    
    header h4{
        font-size: 28px;
        font-family: 'federant';
        color: #159;
    }
    
    .banner, .servgif{
        margin: 100px auto;
    }
}

a:hover img{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 2.0s;
}

#gallery2 a:hover img {
    /* Start the shake animation and make the animation last for 1 seconds */
    animation: shake 1.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 2.0s;
    opacity: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* unvisited link */
btn, nav li a:link {
    color: dodgerblue;
    border:  5px double black;
    padding: 5px 25px;
    border-radius: 20px;
    -webkit-transition: background-color, font-color .8s ease-out;
    -moz-transition: background-color, font-color .8s ease-out;
    -o-transition: background-color, font-color .8s ease-out;
    transition: font-color, background-color .8s ease-out;
}

/* mouse over link */
nav li a:hover{
    color:white;
    border-radius: 30px;
    background-color: #038;
    text-shadow:
       1px 1px 0 red,
      -1px -1px 0 red,  
       1px -1px 0 red,
      -1px 1px 0 red,
       1px 1px 0 red;
}

nav li a:visited{
    border: 5px double black;
}
    

h3{
   
   font-size: 24px;
}

h4{
    font-size: 35px;
    color: red;
    font-family: 'federant', serif;
    text-shadow:
       1px 1px 0 white,
      -1px -1px 0 white,  
       1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;

}

h5{
    color:darkred;
    font-size: 20px;
}
p {
    line-height: 1.6;
    font-size: 22px;   
}

label {
    font-size: 20px;
}

a{
    color:dodgerblue;
    text-decoration: none;
    font-weight: bolder;
    
}

a:hover{
    text-shadow:
       1px 1px 0 red,
      -1px -1px 0 red,  
       1px -1px 0 red,
      -1px 1px 0 red,
       1px 1px 0 red;
    color: white;
}

footer, label, section{
    text-align: center;
    font-family:'federant', serif;
    color:white;
    list-style-type: none;
    text-shadow:
       1px 1px 0 red,
      -1px -1px 0 red,  
       1px -1px 0 red,
      -1px 1px 0 red,
       1px 1px 0 red;
}

p, h3{
    text-align: center;
    font-family:'federant', serif;
    color:white;
    list-style-type: none;
}

body{
    background-color:black;
    margin: 20px;
}

header{
    text-align: center;
    max-width: 100%;
    padding-top: 70px;
}

textarea, input, select{
    font-family: 'federant', serif;
    color:red;
    text-align: center;
    font-size: 18px;
    font-weight:bolder;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: skyblue;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    margin: auto;
    text-align: center;
    width: 90%; /* Full width */
    padding: 5px; /* Some padding */  
    border: 2px solid #b30; /* Gray border */
    border-radius: 20px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    margin: auto;
    text-align: center;
    font-size: 22px;
    background-color: red;
    color: white;
    padding: 8px 30px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px;
    text-shadow:
       1px 1px 0 black,
      -1px -1px 0 black,  
       1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

/* When moving the mouse over the submit button, add a blue color */
input[type=submit]:hover {
    margin: auto;
    text-align: center;
    border: 1px solid white;
    background-color: green;
    border-radius: 25px;
    text-shadow:
       1px 1px 0 black,
      -1px -1px 0 black,  
       1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
}

/* Add a background color and some padding around the form */
.container{
    border-radius: 15px;
    padding: 30px 20px;
    background-color: #059;
    width: 600px;
    max-width: 90%;
    margin: 50px auto;
}

#service{
    width:70%;
    font-size: 20px
}

#gallery img{
    max-width: 100%;
    margin: 100px 0px 15px;
}

#gallery2 img{
    max-width: 100%;
    margin: 100px 0px 15px;
    opacity: .7;
}

#gallery, #gallery2{
    max-width: 100%;
    text-align: center;
    font-size: 25px;
    padding-bottom: 50px;
    margin:auto;   
}

.gallery2 h2{
    margin-top: 50px;
    font-size: 35px;
    padding:10px;
    width:350px;
    text-decoration: underline
    max-width: 100%;
    text-shadow:
       1px 1px 0 red,
      -1px -1px 0 red,  
       1px -1px 0 red,
      -1px 1px 0 red,
       1px 1px 0 red;
}

.resume a{
    margin:auto;
    max-width: 100%;
    text-align: center;
    color: dodgerblue;
    font-family: 'federant', serif;
    font-size: 22px;
    border: 5px double red;
    border-radius: 30px;
    padding: 10px;
    display: block;
    width: 375px;
    font-weight:bolder;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.resume a:hover{
    color:white;
    background-color: #039;
    border-radius: 30px;
    text-shadow:
       1px 1px 0 red,
      -1px -1px 0 red,  
       1px -1px 0 red,
      -1px 1px 0 red,
       1px 1px 0 red;
}

#form {
    padding:30px 0px 40px;
    margin: 5px;
}

#myBtn{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 5px; /* Place the button 5px from the right */
    z-index: 99; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
    border: 1px solid red;
    background: url("redarrow.png");
}

.projects {
    margin:auto;
}

.projects td{
    font-size: 25px;
    padding: 120px;
    text-align: center;
    color:white;    
}
.newsletter{
    text-align: center;
}

#Btn{
    margin: 30px auto;
    color: dodgerblue;
    padding: 5px 30px;
    background: black;
    font-family: 'federant';
    font-size: 22px;
    border: 5px double red;
    border-radius: 35px;
    -webkit-transition: background-color .8s ease-out;
    -moz-transition: background-color .8s ease-out;
    -o-transition: background-color .8s ease-out;
    transition: background-color .8s ease-out;
}

#Btn:hover{
    margin: 30px auto;
    cursor: pointer;
    color:white;
    padding: 5px 30px;
    background: #039;
    font-family: 'federant';
    font-size: 22px;
    border: 5px double red;
    border-radius: 35px;
    text-shadow:
       1px 1px 0 red,
      -1px -1px 0 red,  
       1px -1px 0 red,
      -1px 1px 0 red,
       1px 1px 0 red;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
#myBtn:hover {
    border-color: dodgerblue;
    background: url("bluearrow1.png");
}

form{
    margin: auto;
    text-align: center;
}

footer{
    border-top: 5px double red;
    text-align: center;
    padding-top: 10px;
    font-family: 'quintessential', cursive;
    font-size: 20px;
    margin-top: 50px;
}

.animated {
            background-color: black;
            background-position: left top;
            padding-top:5px;
            margin-bottom:30px;
            -webkit-animation-duration: 3s;animation-duration: 3s;
            -webkit-animation-fill-mode: both;animation-fill-mode: both;
         }

         @-webkit-keyframes fadeOut {
            100% {opacity: 1;}
            0% {opacity: 0;}
         }

         @keyframes fadeOut {
            100% {opacity: 1;}
            0% {opacity: 0;}
         }

         .fadeOut {
            -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
         }


.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 600ms ease-in;
	-moz-transition: opacity 600ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 285px;
	position: relative;
	margin: 10% auto;
	padding: 1px 5px 1px 5px;
	border-radius: 10px;
	background: #000;
	background: -moz-linear-gradient(#009, darkred);
	background: -webkit-linear-gradient(#800000, #000, #005);
    border: black double 6px;
    max-width:100%;
}

.close { 
	background: red;
    border: 1px solid white;
	color: #fff;
	line-height: 29px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 28px;
	text-decoration: none;
	font-weight: bold;
    font-size: 22px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 16px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
    background: dodgerblue;
    text-shadow:
       1px 1px 0 red,
      -1px -1px 0 red,  
       1px -1px 0 red,
      -1px 1px 0 red,
       1px 1px 0 red;
}
