html{
    min-height:100%;
    overflow:auto;
}

article {
    float: left;
    max-width: 80%;
}

.iconright{
    float:right;
    max-width: 100%;
}

.navicon {
    width: 30px;
    height: 6px;
    background-color: red;
    margin: 6px 0;
}

.navicon2 {
    width: 30px;
    height: 6px;
    background-color: blue;
    margin: 6px 0;
}

.navicon1 {
    width: 30px;
    height: 6px;
    background-color: maroon;
    margin: 6px 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: darkred;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 100px;
    font-family: 'kaushan script', cursive;
}

.sidenav a {
    padding: 0px 22px 28px 22px;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
    max-width: 80%;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position:absolute;
    top: 0px;
    right: 0px;
    font-size: 65px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-weight: bolder; font-size: 30px;}
}

nav ul li {
    text-decoration-color: red;
    font-family:'federant', serif;
    font-size: 20px;
    font-weight:bolder;
    display:inline;
    padding: 5px 20px;
    border-radius: 20px;
    border:  5px double red;
    text-align: center;
    margin: 20px;
}

nav{
    text-align:center;
}

.servicelist {
    width:800px;
    text-align: center;
    font-family:'federant', serif;
    color:white;
    font-size: 25px;
    margin:auto;
    padding-top: 50px;
    border-spacing: 150px 30px;
    max-width: 100%;
}

th{
    padding: 10px;
    border-top: 5px double red;
    border-bottom: 5px double red;
    color: dodgerblue;
    font-size: 35px;
    max-width: 100%;
    margin:auto;
}

tr, td{
    max-width: 100%;
    margin:auto;
}

@media (min-width: 769px) {
  .navicon, .navicon1, .navicon2 {
    display:none;      
  }
    .intro {
        width: 800px;
        margin: auto;
        border: 5px;
        border-color: red;
        border-bottom-style: double;
        border-top-style: double;
        padding:10px;
    }
    
    #services{
        display: none;
    }
    
    #myBtn{
        padding:10px;
        font-size: 25px;
        margin-right: 50px;
    }
    
    footer{
        margin: 0px 100px;
    }
    
    #background {
    position:absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    
    }
    
    .vid{
        padding-top: 600px;
    }
    
    .slogan{
        display:none;
    }
}


@media (max-width: 768px) {
  nav {
    display:none;
    }
    
    .intro{
        max-width: 95%;
        margin: auto;
        border: 3px;
        border-color: red;
        border-bottom-style: double;
        border-top-style: double;
        padding:10px;
    }
    
     table{
        display: none;
    }
    
     #services{
            border-top: 3px double red;
    }
    
    .iconright{
        display:none;
    }
    
    header img{
        padding-top: 20px;
    }
    
    video{
        display:none;
    }
}

a:hover img {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 2.0s; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* unvisited link */
nav a:link {
    color: dodgerblue;
}

/* visited link */
nav a:visited {
    color:dodgerblue;
}

/* mouse over link */
nav a:hover, nav ul li:hover {
    color:red;
}

/* selected link */
nav a:active {
    color: white;
}

h1 {
    font-size: 55px;
    text-align: center;
    color: red;
    font-family: 'kaushan script', serif;
    text-shadow: 4px 4px 4px #444;
}

h2{
    font-size: 30px;
    font-style:italic;
}

h3{
    
   font-size: 25px;

}

h4{
    font-size: 30px;
    font-family: 'federant', serif;
    color: white;
}

h5{
    color:darkred;
}

p {
    font-size: 22px;
    
}

label {
    font-size: 20px;
}

a{
    color:dodgerblue;
    text-decoration: none;
}

h2, h3, footer, p, label{
    text-align: center;
    font-family:'federant', serif;
    color:white;
    list-style-type: none;
}

body{
    background-color:black;
    margin: 20px;

}

header{
    text-align: center;
    max-width: 100%;
    padding-top: 70px;
}

header img{
    max-width: 100%;
    margin: 20px;
    margin:auto;
}

textarea, input, section, select{
    font-family: 'federant', serif;
    color:red;
    text-align: center;
    font-size: 15px;
    font-weight:bolder;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 2px solid #b30; /* Gray border */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    font-size: 20px;
    background-color: #e62e00;
    color: white;
    padding: 8px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 15px;
}

/* When moving the mouse over the submit button, add a blue color */
input[type=submit]:hover {
    background-color: dodgerblue;
    border-radius: 15px;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 15px;
    padding: 20px;
    background-color: #069;
    width: 600px;
    max-width: 90%;
    margin: auto;
}

#gallery img{
    max-width: 100%;
    margin: 100px 0px 15px ;
}

#gallery, #services{
    max-width: 100%;
    text-align: center;
    font-size: 25px;
    padding-bottom: 50px;
    margin:auto;
}

#form {
    font-size: 10px;
    padding:0px 0px 40px;
    margin: 5px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 5px; /* Place the button 5px from the right */
    z-index: 99; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #069; /* Add a blue background on hover */
}

footer{
    border-top: 5px double red;
    text-align: center;
    padding-top: 10px;
    font-family: 'quintessential', cursive;
    font-size: 20px;
}
